@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Poppins:ital,wght@1,100&display=swap");
.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Epilogue", sans-serif;
}

section {
    margin: 5rem;
    width: 90vw;
    height: 80vh;
}

nav {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    width: 90vw;
}

.side {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 0.9rem;
    margin-left: 15px;
}

.features,
.company {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

.dropdown {
    position: absolute;
    top: 30px;
}

.option {
    display: flex;
    gap: 8px;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.features img,
.company img {
    margin-bottom: 12px;
}

.side p {
    margin-top: 0.2rem;
}

.side p:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.arrowdown {
    color: hsl(0, 0%, 8%);
}

.side p:nth-child(2) {
    margin-left: 1rem;
}

.login {
    margin-right: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.login p:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.register {
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 41%);
    padding: 10px;
    cursor: pointer;
}

.register:hover {
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}

main {
    display: grid;
    grid-gap: 13rem;
    grid-template-columns: auto 1fr;
    margin-top: 2.5rem;
}

.mobile {
    display: none;
}

.remote {
    display: flex;
    margin-left: 3rem;
    flex-direction: column;
    justify-content: space-between;
}

.remote h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 4rem;
    width: 20rem;
}

.remote p {
    color: hsl(0, 0%, 41%);
    line-height: 1.9;
    width: 24rem;
}

.hero {
    margin-top: 2rem;
    width: 30vw;
    height: 70vh;
}

.down {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    width: 7rem;
    height: 2.5rem;
    background-color: black;
    color: #fff;
    font-weight: 700;
    border-radius: 20%;
    margin-bottom: 3rem;
    cursor: pointer;
}

.button:hover {
    background-color: #fff;
    color: black;
    border: 1px solid hsl(0, 0%, 8%);
}

@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/
}

@media only screen and (max-width: 600px) {
    /*Big smartphones [426px -> 600px]*/
}

@media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
    section {
        margin: 0.5rem;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .mobile {
        display: block;
    }
    .hero {
        display: none;
    }
    .remote {
        margin-left: 0.5rem;
        display: flex;
        /* align-items: center; */
        /* flex-direction: column; */
    }
    .remote h1,
    .remote p {
        text-align: center;
        width: 30rem;
    }
    .remote p {
        font-size: 1.5rem;
    }
    .button {
        margin-left: 8rem;
        width: 11rem;
        height: 4rem;
        font-size: 1.2rem;
        font-weight: 800;
    }
    .features,
    .login,
    .company,
    .side p {
        display: none;
    }
    .down {
        display: flex;
        justify-content: space-between;
        width: 30rem;
        margin-top: 0.8rem;
    }
}


/* /* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} * */